
.container-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.container-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.create-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.created-bundles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
    background-color: #F4F4F2;
}